.App {
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.section-about, .section-projects {
    background-color: #EEEEEE;
    
}
.section-projects {
    padding: 80px 10%;
}
/*About*/
.section-about .bg-img {
    background: url("./img/bg4.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  

}
.carousel-control-prev {

}
.section-about .outer-carousel-container {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.section-about .carousel-container {
    /* display: inline-block; */
}
.section-about .carousel-indicators {
    display: none;
}
.section-about .navbar.navbar-expand-lg {
    background-image: linear-gradient(to bottom,#222222,#111111);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    min-height: 4.75em;
}
.section-about .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.55); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 68px 102px;
    text-align: center;
}
.section-about .container {
    text-align: left;
    /* padding: 4% 14%; */
}
.section-about .icon-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.section-about .icon-container a {
    font-size: 2.5rem;
    margin-right: 5%;
}
.section-about .text-container {
    margin-top: 0;
}
.section-about h2 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    
}
.section-about h3 {
    font-size: 1.5rem;
}
.section-about p {
    font-size: 1.2rem;
}

/*Projects*/
.section-projects h1 {
    margin-bottom: 5%;
}

.section-projects .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 15%;
}
.section-projects .gallery-container .item {
    width: 27%;
    padding: 1% 1%;
    margin: 0 2%;
    margin-bottom: 10%;
}
.section-projects .item h5 {
    font-size: 1.4rem;
    margin: 5% 0;
}
.section-projects .item img {
    width: 85%;
    height: 40%;
}
.section-projects .item .memory-game {
    height: 40%;
}
#colorgame {
    width: 60%;
    height: 35%;
}
#javagame {
    height: 40%;
}

.section-projects .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button-container .item-button {
    width: 35%;
    border: 1.5px solid black;
    padding: 2% 2%;
    margin: 2% 2%;
    font-size: 1.0rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: gray;
    color: white;
}
.item-button:hover {
    font-weight: 500;
    background-color: #EEEEEE;
    color: black;
}

.card-text {
    margin-bottom: 0;
}


/* Item container shadow */
.box-shadow {
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
 }

/* Button shadow*/
.shadow {
    -moz-box-shadow:    1px 1px 1px 1px #ccc;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow:         1px 1px 1px 1px #ccc;
}


@media (max-width: 1286px) {
    .section-projects .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 8%;
    }
}
@media (max-width: 1000px) {
    .section-projects .gallery-container {
        padding: 0 4%;
    }
    .section-projects .gallery-container .item {
        width: 40%;
        padding: 1% 1%;
        margin: 0 2%;
        margin-bottom: 10%;
    }
}
@media (max-width: 800px) {
    .section-projects .gallery-container {
        padding: 0;
    }
}
@media (max-width: 706px) {
    .section-projects .gallery-container {
        padding: 0;
    }
    .section-projects .gallery-container .item {
        margin-left: 0;
        margin-right: 0;
        width: 45%;
    }
}

@media (max-width: 640px) {

    /* About */
    .section-about {
        background-size: contain;
        padding-right: 40px;
    }
    .section-about h2 {
        font-size: 1.5rem;
    }
    .section-about h3 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .section-about .desc p {
        font-size: 0.9rem;
    }
    .section-about .container {
        width: 95%;
        padding: 0 0 0 16%;
        margin: 20% 3%;
    }
    .section-about .icon-container {
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .section-about .icon-container a {
        font-size: 2.0rem;
        margin-right: 8%;
    }
   /* Projects */
    .section-projects {
        padding: 10% 6%;
    }
    .section-projects .item h5 {
        font-size: 1.0rem;
    }
    .item.box-shadow p {
        font-size: 0.9rem;
    }
    .section-projects .item .memory-game {
        height: 30%;
    }

    .section-projects .gallery-container .item {
        width: 100%;
        padding: 2% 2.5%;
        margin-bottom: 5%;
    }
    .section-projects .item img {
        width: 50%;
        height: auto;
    }
    .section-projects .button-container .item-button {
        font-size: 0.9rem;
    }
    .section-projects 
    #colorgame {
        width: 50%;
        height: 30%;
    }

}

@media (min-width: 2000px) {
    .section-about {
        background-size: cover;
    }
    .section-projects {
        padding: 1% 10%;
    }
    .gallery-container {
        margin-left: 7%;
        margin-right: 7%;
    }
}